body {
    background-color: rgb(122, 193, 252);
    margin: .5em 0;
}

a {
    color: seashell;
}

a:hover {
    color: black;
}

.navbar {
    background-color: white;
    display: flex;
    box-shadow: 0 2px 3px #999;
}

.logo {
    width: 7em;
    height: 7em;
    margin: 1em;
}

.links {
    padding: 1em;
    font-size: 3em;
}

.sublinks {
    margin: 0 .5em;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 .5em;
    color: deepskyblue;
}

.secondaryTitle {
    font-size: 2.5em;
    font-weight: 100;
    margin: 0 0 2em 0;
    color: rgb(99, 99, 99);
}

.datetime {
    font-size: 20em;
}